# Sublime Text project files
*.sublime-project
*.sublime-workspace

# RubyMine files
.idea/

# Ruby Gems
*.gem

# bundle generated
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
